<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10">

        <title>{{ Meta.Title }}</title>
        <meta property="description" content="{{ Meta.Description }}" />

        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <header>
            <!-- I think it makes sense to keep the debug banner over the page nav instead of under -->
            {% if Meta.Debug == true %}
                <div class="banner warning flex-vertical">
                    <span class="flex-center">⚛ Running in debug mode ⚛</span>
                </div>
            {% endif %}
            <nav>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>

        </footer>
    </body>
</html>
<!--
vim:ft=liquid.html
-->
